.img_container{
    width: 100%;
    height: 600px;
}
.img_flex_box{
    width: 100%;
    height: 100%;
    display: flex;
}
.main_img_box{
    /* flex:0.4; */
    width: 0;
    flex:0.5;
    height: 100%;
}
/* .sub_img_box{
    flex:0.2;
    height: 100%;
} */
img{
    object-fit: fill;
}
.scond_box{
    position: relative;
}
.scond_main_img_box{
    width: 100%;
    height: 100%;
}
.scond_sub_img_box{
    width: 40%;
    height: 50%;
    position: absolute;
    top:0;
    left: 0;
}

.sss .slick-next{
    top:-1%;
}
.sss .slick-prev{
    top:-1%;
}

.text_box{
    float: right;
    margin-right: 4em;
    margin-bottom: 3em;
}
.scond_boxs::after{
    display: block;
    content: '';
    clear: both;
}

.span_co{
    font-size:1.5em;
}

.blue_text{
    color: #132C6F;
    font-weight: bold;
}